Repository j2-health/design-system: changes, and which pre-commit hooks are due for each by the changed paths.
All: prettier, eslint, tsc

.pre-commit-config.yaml:

repos:
  - repo: local
    hooks:
      - id: prettier
        name: prettier
        language: script
        entry: ./pre-commit-hooks/prettier.sh
        files: \.(js|jsx|ts|tsx|json|css|md|yml|yaml)$
  - repo: local
    hooks:
      - id: eslint
        name: eslint
        language: script
        entry: ./pre-commit-hooks/eslint.sh
        files: \.(js|jsx|ts|tsx)$
  - repo: local
    hooks:
      - id: tsc
        name: tsc
        language: script
        entry: ./pre-commit-hooks/tsc.sh
        files: \.(js|jsx|ts|tsx)$

updates to styling and story for scrollable popover
  src/components/popover/Popover.module.css
  src/components/popover/Popover.stories.tsx
  src/components/popover/Popover.tsx
  src/stylesheets/index.css
Due: prettier, eslint, tsc

linting css module
  src/components/popover/Popover.module.css
Due: prettier

update scrollable option selection for stories
  src/components/popover/Popover.stories.tsx
Due: prettier, eslint, tsc

MKT-731: Design System: Update column selector to support scroll (#90)
  src/components/popover/Popover.module.css
  src/components/popover/Popover.stories.tsx
  src/components/popover/Popover.tsx
  src/stylesheets/index.css
Due: prettier, eslint, tsc

Hide table header text when loading when column is configured not to scroll
  src/components/table/Table.module.css
Due: prettier

Hide table header text when loading when column is configured not to scroll (#91)
  src/components/table/Table.module.css
Due: prettier

scroll limited to inner content and height for partially visible items
  src/components/popover/Popover.module.css
Due: prettier

remove unused style
  src/components/popover/Popover.module.css
Due: prettier

MKT-731 Scrollable column management (#92)
  src/components/popover/Popover.module.css
Due: prettier

list popover and copy message working
  index.tsx
  src/components/listpopover/ListPopover.module.css
  src/components/listpopover/ListPopover.stories.tsx
  src/components/listpopover/ListPopover.tsx
  src/components/listpopover/index.tsx
  src/components/message/Message.module.css
  src/components/message/Message.stories.tsx
  src/components/message/index.tsx
  src/components/message/useMessage.tsx
  src/components/popover/Popover.module.css
  src/components/popover/Popover.tsx
Due: prettier, eslint, tsc

updates to list popover and message and add stories
  src/components/listpopover/ListPopover.stories.tsx
  src/components/listpopover/ListPopover.tsx
  src/components/message/Message.module.css
  src/components/message/Message.stories.tsx
  src/components/message/useMessage.tsx
  src/components/popover/Popover.stories.tsx
Due: prettier, eslint, tsc

MKT-730: Design System: Add List Popover for use across table popovers (#93)
  index.tsx
  src/components/listpopover/ListPopover.module.css
  src/components/listpopover/ListPopover.stories.tsx
  src/components/listpopover/ListPopover.tsx
  src/components/listpopover/index.tsx
  src/components/message/Message.module.css
  src/components/message/Message.stories.tsx
  src/components/message/index.tsx
  src/components/message/useMessage.tsx
  src/components/popover/Popover.module.css
  src/components/popover/Popover.stories.tsx
  src/components/popover/Popover.tsx
Due: prettier, eslint, tsc

feat(ListPopover): add categories
  .storybook/main.ts
  src/components/listpopover/ListPopover.module.css
  src/components/listpopover/ListPopover.stories.tsx
  src/components/listpopover/ListPopover.tsx
Due: prettier, eslint, tsc

feat(ListPopover): add categories (#94)
  .storybook/main.ts
  src/components/listpopover/ListPopover.module.css
  src/components/listpopover/ListPopover.stories.tsx
  src/components/listpopover/ListPopover.tsx
Due: prettier, eslint, tsc

feat(Table): don't render weird underlines
  src/components/skeleton/Skeleton.tsx
  src/components/table/Table.module.css
  src/components/table/Table.tsx
Due: prettier, eslint, tsc

feat(Table): don't render weird underlines (#95)
  src/components/skeleton/Skeleton.tsx
  src/components/table/Table.module.css
  src/components/table/Table.tsx
Due: prettier, eslint, tsc

hide overflow of filter form select
  src/components/filterform/FilterInput.tsx
Due: prettier, eslint, tsc

hide overflow of filter form select (#96)
  src/components/filterform/FilterInput.tsx
Due: prettier, eslint, tsc

fix(Table): hide entire header while loading
  src/components/table/Table.module.css
Due: prettier

fix(Table): hide entire header while loading (#97)
  src/components/table/Table.module.css
Due: prettier

feat(Table): use lighter color for sorted columns
  src/appTheme.ts
Due: prettier, eslint, tsc

feat(Table): use lighter color for sorted columns (#98)
  src/appTheme.ts
Due: prettier, eslint, tsc

feat(Popover): add ability to specify smaller padding
  src/components/popover/Popover.module.css
  src/components/popover/Popover.tsx
Due: prettier, eslint, tsc

feat(Popover): add ability to specify smaller padding (#99)
  src/components/popover/Popover.module.css
  src/components/popover/Popover.tsx
Due: prettier, eslint, tsc

feat(Menu): allow consumer to know when sidebar is collapsed
  src/components/navMenu/NavMenu.tsx
Due: prettier, eslint, tsc

feat(Menu): allow consumer to know when sidebar is collapsed (#100)
  src/components/navMenu/NavMenu.tsx
Due: prettier, eslint, tsc

Update antd to 5.26
  package-lock.json
Due: prettier

Center button icons vertically
  src/components/button/Button.css
Due: prettier

Update snapshots
  src/components/alert/__tests__/__snapshots__/alert.test.tsx.snap
  src/components/breadcrumb/__tests__/__snapshots__/breadcrumb.test.tsx.snap
  src/components/button/__tests__/__snapshots__/button.test.tsx.snap
  src/components/card/__tests__/__snapshots__/card.test.tsx.snap
  src/components/dropdown/__tests__/__snapshots__/dropdown.test.tsx.snap
  src/components/input/__tests__/__snapshots__/Input.test.tsx.snap
  src/components/inputnumber/__tests__/__snapshots__/InputNumber.test.tsx.snap
  src/components/navMenu/__tests__/__snapshots__/navMenu.test.tsx.snap
  src/components/popover/__tests__/__snapshots__/popover.test.tsx.snap
  src/components/radio/__tests__/__snapshots__/radio.test.tsx.snap
  src/components/rate/__tests__/__snapshots__/Rate.test.tsx.snap
  src/components/select/__tests__/__snapshots__/select.test.tsx.snap
  src/components/skeleton/__tests__/__snapshots__/skeleton.test.tsx.snap
  src/components/table/__tests__/__snapshots__/table.test.tsx.snap
  src/components/tooltip/__tests__/__snapshots__/tooltip.test.tsx.snap
Due: none

Use popupRender since dropdownRender has been deprecated
  src/components/select/Select.tsx
Due: prettier, eslint, tsc

Upgrade phosphor icons
  package-lock.json
Due: prettier

Aaron/j2nm 3262 3a page header component (#101)
  package-lock.json
  src/components/alert/__tests__/__snapshots__/alert.test.tsx.snap
  src/components/breadcrumb/__tests__/__snapshots__/breadcrumb.test.tsx.snap
  src/components/button/Button.css
  src/components/button/__tests__/__snapshots__/button.test.tsx.snap
  src/components/card/__tests__/__snapshots__/card.test.tsx.snap
  src/components/dropdown/__tests__/__snapshots__/dropdown.test.tsx.snap
  src/components/input/__tests__/__snapshots__/Input.test.tsx.snap
  src/components/inputnumber/__tests__/__snapshots__/InputNumber.test.tsx.snap
  src/components/navMenu/__tests__/__snapshots__/navMenu.test.tsx.snap
  src/components/popover/__tests__/__snapshots__/popover.test.tsx.snap
  src/components/radio/__tests__/__snapshots__/radio.test.tsx.snap
  src/components/rate/__tests__/__snapshots__/Rate.test.tsx.snap
  src/components/select/Select.tsx
  src/components/select/__tests__/__snapshots__/select.test.tsx.snap
  src/components/skeleton/__tests__/__snapshots__/skeleton.test.tsx.snap
  src/components/table/__tests__/__snapshots__/table.test.tsx.snap
  src/components/tooltip/__tests__/__snapshots__/tooltip.test.tsx.snap
Due: prettier, eslint, tsc

Initial legacy nav menu
  src/components/legacyNavMenu/LegacyNavMenu.module.css
  src/components/legacyNavMenu/LegacyNavMenu.stories.tsx
  src/components/legacyNavMenu/LegacyNavMenu.tsx
  src/components/legacyNavMenu/__tests__/__snapshots__/navMenu.test.tsx.snap
  src/components/legacyNavMenu/__tests__/navMenu.test.tsx
  src/components/legacyNavMenu/index.ts
Due: prettier, eslint, tsc

Use existing icons
  src/components/legacyNavMenu/LegacyNavMenu.module.css
  src/components/legacyNavMenu/LegacyNavMenu.stories.tsx
  src/components/legacyNavMenu/LegacyNavMenu.tsx
  vite.config.ts
Due: prettier, eslint, tsc

Add link to j2 logo
  src/components/legacyNavMenu/LegacyNavMenu.module.css
  src/components/legacyNavMenu/LegacyNavMenu.stories.tsx
  src/components/legacyNavMenu/LegacyNavMenu.tsx
Due: prettier, eslint, tsc

Create lookalike menu
  src/components/legacyNavMenu/LegacyNavMenu.module.css
  src/components/legacyNavMenu/LegacyNavMenu.stories.tsx
  src/components/legacyNavMenu/LegacyNavMenu.tsx
  src/components/legacyNavMenu/UserProfile.module.css
  src/components/legacyNavMenu/UserProfile.tsx
  src/components/legacyNavMenu/index.ts
Due: prettier, eslint, tsc

Update index
  index.tsx
Due: prettier, eslint, tsc

Adjust logo sizing
  src/components/legacyNavMenu/LegacyNavMenu.module.css
Due: prettier

Update styles
  src/components/legacyNavMenu/LegacyNavMenu.module.css
  src/components/legacyNavMenu/LegacyNavMenu.tsx
Due: prettier, eslint, tsc

Make nav content scrollable
  src/components/legacyNavMenu/LegacyNavMenu.module.css
Due: prettier
