Repository j2-health/design-system: changes, and which pre-commit hooks are due for each by the changed paths.
All: prettier, eslint, tsc

.pre-commit-config.yaml:

repos:
  - repo: local
    hooks:
      - id: prettier
        name: prettier
        language: script
        entry: ./pre-commit-hooks/prettier.sh
        files: \.(js|jsx|ts|tsx|json|css|md|yml|yaml)$
  - repo: local
    hooks:
      - id: eslint
        name: eslint
        language: script
        entry: ./pre-commit-hooks/eslint.sh
        files: \.(js|jsx|ts|tsx)$
  - repo: local
    hooks:
      - id: tsc
        name: tsc
        language: script
        entry: ./pre-commit-hooks/tsc.sh
        files: \.(js|jsx|ts|tsx)$

Complete the React 19 upgrade: bring react-dom and its types with it
  src/components/select/__tests__/select.test.tsx
Due: prettier, eslint, tsc

SummarizedSelect: honor `disabled` on the dropdown trigger and on Enter; release 0.3.4
  package-lock.json
  package.json
  src/components/select/SummarizedSelect.tsx
  src/components/select/__tests__/SummarizedSelect.test.tsx
Due: prettier, eslint, tsc

fix: preserve Formik validators and dismissal callbacks
  src/components/alert/Alert.module.css
  src/components/alert/Alert.tsx
  src/components/alert/__tests__/alert.test.tsx
  src/components/form/Form.tsx
  src/components/form/FormItem.tsx
  src/components/form/FormItemFieldContext.ts
  src/components/form/FormikField.tsx
  src/components/form/__tests__/Form.test.tsx
  src/components/select/Select.tsx
Due: prettier, eslint, tsc

Remove unused @storybook/addon-onboarding instead of bumping it
  package-lock.json
  package.json
Due: prettier

feat: add select-all/clear-all to ManageColumnsPanel, promote to design system
  index.ts
  package-lock.json
  package.json
  src/components/manageColumns/ManageColumnsItem.tsx
  src/components/manageColumns/ManageColumnsPanel.stories.tsx
  src/components/manageColumns/ManageColumnsPanel.tsx
  src/components/manageColumns/__tests__/ManageColumnsPanel.test.tsx
  src/components/manageColumns/__tests__/__snapshots__/ManageColumnsPanel.test.tsx.snap
  src/components/manageColumns/index.tsx
  tailwind.config.ts
Due: prettier, eslint, tsc

test: drop snapshot tests in favor of the existing explicit assertions
  src/components/manageColumns/__tests__/ManageColumnsPanel.test.tsx
  src/components/manageColumns/__tests__/__snapshots__/ManageColumnsPanel.test.tsx.snap
Due: prettier, eslint, tsc

chore(lint): migrate to ESLint 10, drop eslint-plugin-import
  eslint.config.mjs
  package-lock.json
  package.json
  src/components/select/SummarizedSelect.stories.tsx
  src/index.d.ts
  src/test-utils/fileStub.ts
Due: prettier, eslint, tsc

refactor: split select-all into its own ManageColumnsSelectAll component
  src/components/manageColumns/ManageColumnsPanel.stories.tsx
  src/components/manageColumns/ManageColumnsPanel.tsx
  src/components/manageColumns/ManageColumnsSelectAll.stories.tsx
  src/components/manageColumns/ManageColumnsSelectAll.tsx
  src/components/manageColumns/__tests__/ManageColumnsPanel.test.tsx
  src/components/manageColumns/__tests__/ManageColumnsSelectAll.test.tsx
  src/components/manageColumns/index.tsx
Due: prettier, eslint, tsc

style: fix prettier formatting in ManageColumnsSelectAll.test.tsx
  src/components/manageColumns/__tests__/ManageColumnsSelectAll.test.tsx
Due: prettier, eslint, tsc

feat: support Tailwind CSS 4 consumers
  .github/workflows/package-smoke-test.yml
  .storybook/preview.tsx
  .storybook/tailwind.css
  README.md
  package-lock.json
  package.json
  postcss.config.js
  scripts/test-tailwind-consumers.mjs
Due: prettier, eslint, tsc

fix: harden Tailwind compatibility contract
  .storybook/tailwind.css
  README.md
  package-lock.json
  package.json
  scripts/test-tailwind-consumers.mjs
  src/stylesheets/base.css
  src/stylesheets/fonts.css
  src/stylesheets/tailwind-v3.css
  src/stylesheets/tailwind.css
Due: prettier

Compose select-all/clear-all summary row into ManageColumnsPanel
  src/components/manageColumns/ManageColumnsPanel.stories.tsx
  src/components/manageColumns/ManageColumnsPanel.tsx
  src/components/manageColumns/ManageColumnsSelectAll.tsx
  src/components/manageColumns/__tests__/ManageColumnsPanel.test.tsx
  src/components/manageColumns/__tests__/ManageColumnsSelectAll.test.tsx
Due: prettier, eslint, tsc

Rename ManageColumnsSelectAll to SelectAll
  src/components/manageColumns/ManageColumnsPanel.tsx
  src/components/manageColumns/SelectAll.stories.tsx
  src/components/manageColumns/SelectAll.tsx
  src/components/manageColumns/__tests__/SelectAll.test.tsx
  src/components/manageColumns/index.tsx
Due: prettier, eslint, tsc

feat: add select-all/clear-all to ManageColumnsPanel, promote to design system (#274)
  index.ts
  package-lock.json
  package.json
  src/components/manageColumns/ManageColumnsItem.tsx
  src/components/manageColumns/ManageColumnsPanel.stories.tsx
  src/components/manageColumns/ManageColumnsPanel.tsx
  src/components/manageColumns/SelectAll.stories.tsx
  src/components/manageColumns/SelectAll.tsx
  src/components/manageColumns/__tests__/ManageColumnsPanel.test.tsx
  src/components/manageColumns/__tests__/SelectAll.test.tsx
  src/components/manageColumns/index.tsx
  tailwind.config.ts
Due: prettier, eslint, tsc

Release 0.5.0
  package-lock.json
  package.json
Due: prettier

feat: support @highcharts/react 5
  package-lock.json
  package.json
  src/components/barchart/BarChart.tsx
  src/components/barchart/__tests__/barchart.test.tsx
  src/components/vennDiagram/VennDiagram.tsx
Due: prettier, eslint, tsc

feat: support Tailwind CSS 4 consumers (#275)
  .github/workflows/package-smoke-test.yml
  .storybook/preview.tsx
  .storybook/tailwind.css
  README.md
  package-lock.json
  package.json
  postcss.config.js
  scripts/test-tailwind-consumers.mjs
  src/stylesheets/base.css
  src/stylesheets/fonts.css
  src/stylesheets/tailwind-v3.css
  src/stylesheets/tailwind.css
Due: prettier, eslint, tsc

feat: support @highcharts/react 5 (#277)
  package-lock.json
  package.json
  src/components/barchart/BarChart.tsx
  src/components/barchart/__tests__/barchart.test.tsx
  src/components/vennDiagram/VennDiagram.tsx
Due: prettier, eslint, tsc

Align vitest with the coverage-v8 5 bump, and re-augment jest-dom's matchers
  package-lock.json
  package.json
  src/test-utils/vitest-jest-dom.d.ts
Due: prettier, eslint, tsc

Refresh component snapshots for antd 6.6.5's theme hash
  src/components/alert/__tests__/__snapshots__/alert.test.tsx.snap
  src/components/breadcrumb/__tests__/__snapshots__/breadcrumb.test.tsx.snap
  src/components/button/__tests__/__snapshots__/button.test.tsx.snap
  src/components/card/__tests__/__snapshots__/card.test.tsx.snap
  src/components/checkboxTree/__tests__/__snapshots__/checkboxTree.test.tsx.snap
  src/components/dropdown/__tests__/__snapshots__/dropdown.test.tsx.snap
  src/components/input/__tests__/__snapshots__/Input.test.tsx.snap
  src/components/inputnumber/__tests__/__snapshots__/InputNumber.test.tsx.snap
  src/components/modal/__tests__/__snapshots__/modal.test.tsx.snap
  src/components/navMenu/__tests__/__snapshots__/navMenu.test.tsx.snap
  src/components/notificationModal/__tests__/__snapshots__/notificationModal.test.tsx.snap
  src/components/pagination/__tests__/__snapshots__/pagination.test.tsx.snap
  src/components/radio/__tests__/__snapshots__/radio.test.tsx.snap
  src/components/rate/__tests__/__snapshots__/Rate.test.tsx.snap
  src/components/select/__tests__/__snapshots__/SummarizedSelect.test.tsx.snap
  src/components/select/__tests__/__snapshots__/select.test.tsx.snap
  src/components/skeleton/__tests__/__snapshots__/skeleton.test.tsx.snap
  src/components/table/__tests__/__snapshots__/table.test.tsx.snap
Due: none

fix(SummarizedSelect): filter the option list while typing; release 0.5.1
  package-lock.json
  package.json
  src/components/select/SummarizedSelect.tsx
  src/components/select/__tests__/SummarizedSelect.test.tsx
Due: prettier, eslint, tsc

fix(SummarizedSelect): filter the option list while typing; release 0.5.1 (#283)
  package-lock.json
  package.json
  src/components/select/SummarizedSelect.tsx
  src/components/select/__tests__/SummarizedSelect.test.tsx
Due: prettier, eslint, tsc

Raise Dependabot open-pull-requests-limit to 10 to match j2
  .github/dependabot.yml
Due: prettier

Raise Dependabot open-pull-requests-limit to 10 to match j2 (#284)
  .github/dependabot.yml
Due: prettier

Check Dependabot daily to match j2
  .github/dependabot.yml
Due: prettier

Check Dependabot daily to match j2 (#295)
  .github/dependabot.yml
Due: prettier

Keep the ?react query out of emitted filenames under vite 8
  package-lock.json
  package.json
  src/components/legacyNavMenu/LegacyNavMenu.tsx
  src/components/navMenu/NavMenu.tsx
  src/components/spinner/Spinner.tsx
  src/index.d.ts
  vite.config.ts
  vitest.config.ts
Due: prettier, eslint, tsc

fix: restore styles that antd 6 class and token changes broke
  package-lock.json
  package.json
  src/components/dropdown/Dropdown.tsx
  src/components/select/Select.css
  src/components/select/Select.tsx
  src/components/select/SummarizedSelect.module.css
  src/components/table/Table.module.css
Due: prettier, eslint, tsc

docs(table): add pinned-columns striping and loading stories
  src/components/table/Table.stories.tsx
Due: prettier, eslint, tsc

fix(review): scope Table loading rule to its own Spin; guard antd class names
  src/components/table/Table.module.css
  src/components/table/__tests__/table.test.tsx
Due: prettier, eslint, tsc

fix: restore styles that antd 6 class and token changes broke (#296)
  package-lock.json
  package.json
  src/components/dropdown/Dropdown.tsx
  src/components/select/Select.css
  src/components/select/Select.tsx
  src/components/select/SummarizedSelect.module.css
  src/components/table/Table.module.css
  src/components/table/Table.stories.tsx
  src/components/table/__tests__/table.test.tsx
Due: prettier, eslint, tsc

fix: keep Phosphor icons tree-shakeable under the Vite 8 build
  .github/workflows/package-smoke-test.yml
  index.ts
  package-lock.json
  package.json
  src/components/select/SummarizedSelect.tsx
Due: prettier, eslint, tsc

fix: keep Phosphor icons tree-shakeable under the Vite 8 build (#302)
  .github/workflows/package-smoke-test.yml
  index.ts
  package-lock.json
  package.json
  src/components/select/SummarizedSelect.tsx
Due: prettier, eslint, tsc

Validation artifacts for j2-health/design-system PR 300
  pr-300/highcharts-after-bar.png
  pr-300/highcharts-after-multiple.png
  pr-300/highcharts-after-venn.png
  pr-300/highcharts-before-bar.png
  pr-300/highcharts-before-multiple.png
  pr-300/highcharts-before-venn.png
Due: none

fix(SummarizedSelect): keep multi-select pills at control height
  src/components/select/SummarizedSelect.module.css
Due: prettier

fix(SummarizedSelect): address R1 — fall back if antd renames the item vars
  src/components/select/SummarizedSelect.module.css
Due: prettier

fix(SummarizedSelect): keep multi-select pills at control height (#303)
  src/components/select/SummarizedSelect.module.css
Due: prettier

chore: release 0.5.4
  package-lock.json
  package.json
Due: prettier
