Repository j2-health/design-system: changes, and which pre-commit hooks are due for each by the changed paths.
All: prettier, eslint, tsc

.pre-commit-config.yaml:

repos:
  - repo: local
    hooks:
      - id: prettier
        name: prettier
        language: script
        entry: ./pre-commit-hooks/prettier.sh
        files: \.(js|jsx|ts|tsx|json|css|md|yml|yaml)$
  - repo: local
    hooks:
      - id: eslint
        name: eslint
        language: script
        entry: ./pre-commit-hooks/eslint.sh
        files: \.(js|jsx|ts|tsx)$
  - repo: local
    hooks:
      - id: tsc
        name: tsc
        language: script
        entry: ./pre-commit-hooks/tsc.sh
        files: \.(js|jsx|ts|tsx)$

feat(BarChart): allow all data options
  src/components/barchart/BarChart.tsx
Due: prettier, eslint, tsc

feat(BarChart): allow all data options (#138)
  src/components/barchart/BarChart.tsx
Due: prettier, eslint, tsc

[BEY-3] new bar chart style + adding maxBars and barsWidth props (#137)
  src/components/barchart/BarChart.tsx
Due: prettier, eslint, tsc

[BEY-4] adding logos to dropdowns
  src/components/select/SummarizedSelect.tsx
Due: prettier, eslint, tsc

[BEY-4] fixing lint
  src/components/select/SummarizedSelect.tsx
Due: prettier, eslint, tsc

[BEY-3] addressing design feedback
  src/components/barchart/BarChart.tsx
Due: prettier, eslint, tsc

[BEY-3] ] fix lint
  src/components/barchart/BarChart.tsx
Due: prettier, eslint, tsc

[BEY-3] ] adding CSS instead of hard-coded hex
  src/components/barchart/BarChart.tsx
Due: prettier, eslint, tsc

[BEY-4] ] adding back toggle all functionality mistaken removed
  src/components/select/SummarizedSelect.tsx
Due: prettier, eslint, tsc

BEY-4: Add logos to carrier & plan dropdowns (#139)
  src/components/select/SummarizedSelect.tsx
Due: prettier, eslint, tsc

BEY-3: Implement style updates to bar chart (design feedback) (#140)
  src/components/barchart/BarChart.tsx
Due: prettier, eslint, tsc

feat(listpopover): add custom render to popover content
  src/components/listpopover/ListPopover.tsx
Due: prettier, eslint, tsc

feat(listpopover): add custom render to popover content (#141)
  src/components/listpopover/ListPopover.tsx
Due: prettier, eslint, tsc

[BEY-4] changes to summarized select width
  src/components/select/SummarizedSelect.module.css
Due: prettier

BEY-6: Add logos to compare cards (#142)
  src/components/select/SummarizedSelect.module.css
Due: prettier

feat(SummarizedSelect): use reactnode instead of string
  src/components/select/SummarizedSelect.tsx
Due: prettier, eslint, tsc

fix: constrain size of logos
  src/components/select/SummarizedSelect.tsx
Due: prettier, eslint, tsc

BEY-5: Add logos to provider tables (#144)
  src/components/select/SummarizedSelect.tsx
Due: prettier, eslint, tsc

feat: address design feedback
  src/components/barchart/BarChart.tsx
  src/components/select/SummarizedSelect.tsx
  src/components/tag/Tag.tsx
Due: prettier, eslint, tsc

feat: address design feedback (#146)
  src/components/barchart/BarChart.tsx
  src/components/select/SummarizedSelect.tsx
  src/components/tag/Tag.tsx
Due: prettier, eslint, tsc

feat: update bar chart lines
  src/components/barchart/BarChart.tsx
Due: prettier, eslint, tsc

feat: update bar chart lines (#147)
  src/components/barchart/BarChart.tsx
Due: prettier, eslint, tsc

feat(Menu): swap logo for new one
  src/components/navMenu/NavMenu.tsx
  src/components/navMenu/__tests__/__snapshots__/navMenu.test.tsx.snap
  src/svgs/j2-logo-menu-collapse.svg
  src/svgs/j2-logo-menu.svg
  src/svgs/j2-logo.svg
  src/svgs/j2-wordmark.svg
Due: prettier, eslint, tsc

feat(Menu): swap logo for new one (#148)
  src/components/navMenu/NavMenu.tsx
  src/components/navMenu/__tests__/__snapshots__/navMenu.test.tsx.snap
  src/svgs/j2-logo-menu-collapse.svg
  src/svgs/j2-logo-menu.svg
  src/svgs/j2-logo.svg
  src/svgs/j2-wordmark.svg
Due: prettier, eslint, tsc

fix: add back logo for adequacy
  src/svgs/j2-logo.svg
Due: none

fix: add back logo for adequacy (#149)
  src/svgs/j2-logo.svg
Due: none

wip
  .github/workflows/publish.yml
  .npmrc
  .npmrc.example
  CLEANUP_CONSUMING_PROJECT.md
  FISH_QUICK_REFERENCE.md
  GITHUB_PACKAGES_SETUP_SUMMARY.md
  MIGRATION_FROM_SUBMODULE.md
  PEER_DEPENDENCIES_UPDATE.md
  PUBLISHING.md
  QUICK_START.md
  README.md
  SETUP_CHECKLIST.md
  package-lock.json
  package.json
  src/components/filterform/useFiltersForm.ts
  tsconfig.json
Due: prettier, eslint, tsc

Revert "fix: add back logo for adequacy (#149)"
  src/svgs/j2-logo.svg
Due: none

Update logo
  src/components/legacyNavMenu/LegacyNavMenu.tsx
Due: prettier, eslint, tsc

J2NM-3715: Swap out old logo with new in J2 and J2NM (adequacy / disruption / reports) (#150)
  src/components/legacyNavMenu/LegacyNavMenu.tsx
  src/svgs/j2-logo.svg
Due: prettier, eslint, tsc

fix(table): change border width
  src/components/table/Table.module.css
Due: prettier

fix: margin to sorter
  src/components/table/Table.module.css
Due: prettier

fix: 1 px border
  src/components/table/Table.module.css
Due: prettier

revert
  src/components/table/Table.module.css
Due: prettier

fix(table): add margin right to sort icon (#151)
  src/components/table/Table.module.css
Due: prettier

[BEY-414] fix VennDiagram
  src/components/filterform/FilterInput.tsx
Due: prettier, eslint, tsc

[BEY-414] fix VennDiagram (#153)
  src/components/filterform/FilterInput.tsx
Due: prettier, eslint, tsc

refactor(table): match pagination designs [BEY-429]
  src/components/table/Table.module.css
  src/components/table/Table.stories.tsx
  src/components/table/Table.tsx
Due: prettier, eslint, tsc

fix: select props
  src/components/table/Table.tsx
Due: prettier, eslint, tsc
