Repository j2-health/design-system: changes, and which pre-commit hooks are due for each by the changed paths.
All: prettier, eslint, tsc

prettier:
  name: prettier
  language: script
  entry: ./pre-commit-hooks/prettier.sh

eslint:
  name: eslint
  language: script
  entry: ./pre-commit-hooks/eslint.sh

tsc:
  name: tsc
  language: script
  entry: ./pre-commit-hooks/tsc.sh

[BEY-449] fixing lint
  src/components/table/ResizableTitle.tsx
Due: prettier, eslint, tsc

Fine tune headlined variant of SummarizedSelect (#169)
  src/components/select/SummarizedSelect.module.css
  src/components/select/SummarizedSelect.stories.tsx
Due: prettier, eslint, tsc

Fix className prop merging in Card component
  src/components/card/Card.tsx
Due: prettier, eslint, tsc

Fix className prop merging in Card component (#171)
  src/components/card/Card.tsx
Due: prettier, eslint, tsc

"Claude PR Assistant workflow"
  .github/workflows/claude.yml
Due: prettier

"Claude Code Review workflow"
  .github/workflows/claude-code-review.yml
Due: prettier

Add Claude GitHub Actions workflows for PR reviews and @mentions
  .github/workflows/claude-code-review.yml
  .github/workflows/claude.yml
Due: prettier

Update workflows to use Claude Code plugins approach
  .github/workflows/claude-code-review.yml
  .github/workflows/claude.yml
Due: prettier

Add Claude GitHub Actions workflows for PR reviews and @mentions (#175)
  .github/workflows/claude-code-review.yml
  .github/workflows/claude.yml
Due: prettier

Update Alert component design and alignment
  src/appTheme.ts
  src/components/alert/Alert.module.css
  src/components/alert/Alert.stories.tsx
  src/components/alert/Alert.tsx
Due: prettier, eslint, tsc

Fix close icon alignment for alerts with and without descriptions
  src/components/alert/Alert.module.css
Due: prettier

Fix CI failure by allowing claude[bot] in workflows
  .github/workflows/claude-code-review.yml
  .github/workflows/claude.yml
Due: prettier

Update Alert component design and alignment (#174)
  .github/workflows/claude-code-review.yml
  .github/workflows/claude.yml
  src/appTheme.ts
  src/components/alert/Alert.module.css
  src/components/alert/Alert.stories.tsx
  src/components/alert/Alert.tsx
  src/components/alert/__tests__/__snapshots__/alert.test.tsx.snap
Due: prettier, eslint, tsc

feat(CI): convert to vitest
  .gitignore
  jest.config.ts
  jest.setup.ts
  package-lock.json
  package.json
  src/components/alert/__tests__/__snapshots__/alert.test.tsx.snap
  src/components/barchart/__tests__/__snapshots__/barchart.test.tsx.snap
  src/components/barchart/__tests__/barchart.test.tsx
  src/components/breadcrumb/__tests__/__snapshots__/breadcrumb.test.tsx.snap
  src/components/button/__tests__/__snapshots__/button.test.tsx.snap
  src/components/card/__tests__/__snapshots__/card.test.tsx.snap
  src/components/checkboxTree/__tests__/__snapshots__/checkboxTree.test.tsx.snap
  src/components/dropdown/__tests__/__snapshots__/dropdown.test.tsx.snap
  src/components/filterform/__tests__/FiltersForm.test.tsx
  src/components/input/__tests__/__snapshots__/Input.test.tsx.snap
  src/components/inputnumber/__tests__/__snapshots__/InputNumber.test.tsx.snap
  src/components/legacyNavMenu/__tests__/__snapshots__/navMenu.test.tsx.snap
  src/components/modal/__tests__/__snapshots__/modal.test.tsx.snap
  src/components/navMenu/__tests__/__snapshots__/navMenu.test.tsx.snap
  src/components/notificationModal/__tests__/__snapshots__/notificationModal.test.tsx.snap
  src/components/popover/__tests__/__snapshots__/popover.test.tsx.snap
  src/components/radio/__tests__/__snapshots__/radio.test.tsx.snap
  src/components/rate/__tests__/__snapshots__/Rate.test.tsx.snap
  src/components/select/__tests__/SummarizedSelect.test.tsx
  src/components/select/__tests__/__snapshots__/SummarizedSelect.test.tsx.snap
  src/components/select/__tests__/__snapshots__/select.test.tsx.snap
  src/components/select/__tests__/select.test.tsx
  src/components/skeleton/__tests__/__snapshots__/skeleton.test.tsx.snap
  src/components/table/__tests__/__snapshots__/table.test.tsx.snap
  src/components/tooltip/__tests__/__snapshots__/tooltip.test.tsx.snap
  src/test-utils/mockMatchMedia.ts
  tsconfig.json
  vitest.config.ts
  vitest.setup.ts
Due: prettier, eslint, tsc

chore: update jest-dom to v6.9.1
  package-lock.json
  package.json
Due: prettier

Add keyboard support and styling improvements to SummarizedSelect
  src/components/select/SummarizedSelect.module.css
  src/components/select/SummarizedSelect.tsx
Due: prettier, eslint, tsc

feat(Tailwind): export theme
  index.tsx
  tailwind.config.ts
Due: prettier, eslint, tsc

fix: there should never be jsx in here
  index.ts
Due: prettier, eslint, tsc

feat(Tailwind): disallow built-in colors
  src/components/select/SummarizedSelect.stories.tsx
  tailwind.config.ts
Due: prettier, eslint, tsc

Add slim menu variant to dropdown, add className prop to target trigger element of dropdown, fine tune basic-inline target variant when with icon
  src/components/dropdown/Dropdown.css
  src/components/dropdown/Dropdown.stories.tsx
  src/components/dropdown/Dropdown.tsx
Due: prettier, eslint, tsc

Add test for manuType class management, define selected item and hover state without important, extract TargetProps as separate type
  src/components/dropdown/Dropdown.css
  src/components/dropdown/Dropdown.tsx
  src/components/dropdown/__tests__/dropdown.test.tsx
Due: prettier, eslint, tsc

Apply prettier
  src/components/dropdown/__tests__/dropdown.test.tsx
Due: prettier, eslint, tsc

fix(Tailwind): borders shouldn't default to currentColor
  tailwind.config.ts
Due: prettier, eslint, tsc

fix(SummarizedSelect): pass through navigation keys when focused on input
  src/components/select/SummarizedSelect.tsx
Due: prettier, eslint, tsc

BEY-497: Fine tune dropdown component (#178)
  src/components/dropdown/Dropdown.css
  src/components/dropdown/Dropdown.stories.tsx
  src/components/dropdown/Dropdown.tsx
  src/components/dropdown/__tests__/dropdown.test.tsx
Due: prettier, eslint, tsc

Add keyboard support and styling improvements to SummarizedSelect (#176)
  index.ts
  src/components/select/SummarizedSelect.module.css
  src/components/select/SummarizedSelect.stories.tsx
  src/components/select/SummarizedSelect.tsx
  tailwind.config.ts
Due: prettier, eslint, tsc

Add CircularProgress component
  src/components/circular-progress/CircularProgress.stories.tsx
  src/components/circular-progress/CircularProgress.tsx
  src/components/circular-progress/__tests__/__snapshots__/circularProgress.test.tsx.snap
  src/components/circular-progress/__tests__/circularProgress.test.tsx
  src/components/circular-progress/index.tsx
Due: prettier, eslint, tsc

Update max strokeWidth in story controller
  src/components/circular-progress/CircularProgress.stories.tsx
Due: prettier, eslint, tsc

Validate strokeWidth vs size prop values
  src/components/circular-progress/CircularProgress.tsx
Due: prettier, eslint, tsc

Update tests
  src/components/circular-progress/CircularProgress.tsx
  src/components/circular-progress/__tests__/circularProgress.test.tsx
Due: prettier, eslint, tsc

Remove custom component implementation and add stories to Progress component to show how to use it to get circular progress
  src/components/circular-progress/CircularProgress.stories.tsx
  src/components/circular-progress/CircularProgress.tsx
  src/components/circular-progress/__tests__/__snapshots__/circularProgress.test.tsx.snap
  src/components/circular-progress/__tests__/circularProgress.test.tsx
  src/components/circular-progress/index.tsx
  src/components/progress/Progress.stories.tsx
Due: prettier, eslint, tsc

BEY-498: Add CircularProgress component (#180)
  src/components/progress/Progress.stories.tsx
Due: prettier, eslint, tsc

Add state and showIcon props to Collapse component
  .storybook/manager.ts
  .storybook/theme.ts
  src/components/collapse/Collapse.module.css
  src/components/collapse/Collapse.stories.ts
  src/components/collapse/Collapse.tsx
Due: prettier, eslint, tsc

Add state and showIcon props to Collapse component (#181)
  .storybook/manager.ts
  .storybook/theme.ts
  src/components/collapse/Collapse.module.css
  src/components/collapse/Collapse.stories.ts
  src/components/collapse/Collapse.tsx
Due: prettier, eslint, tsc

NAVY-646: Update highcharts to v12 and migrate to @highcharts/react v4
  .gitignore
  .storybook/main.ts
  .storybook/manager.ts
  .storybook/theme.ts
  package-lock.json
  package.json
  src/components/barchart/BarChart.tsx
  src/components/barchart/index.tsx
  src/components/vennDiagram/VennDiagram.tsx
  tsconfig.json
Due: prettier, eslint, tsc

NAVY-646: Update highcharts to v12 and migrate to @highcharts/react v4 (#184)
  .gitignore
  .storybook/main.ts
  .storybook/manager.ts
  .storybook/theme.ts
  package-lock.json
  package.json
  src/components/barchart/BarChart.tsx
  src/components/barchart/index.tsx
  src/components/vennDiagram/VennDiagram.tsx
  tsconfig.json
Due: prettier, eslint, tsc

test(CheckboxTree): regenerate snapshots for right-aligned chevron
  src/components/checkboxTree/__tests__/__snapshots__/checkboxTree.test.tsx.snap
Due: none

fix(CheckboxTree): correct parent node counts in tests
  src/components/checkboxTree/__tests__/checkboxTree.test.tsx
Due: prettier, eslint, tsc

Path conditions:
  prettier: any of: \.(js|jsx|ts|tsx|json|css|md|yml|yaml)$
  eslint: any of: \.(js|jsx|ts|tsx)$
  tsc: any of: \.(js|jsx|ts|tsx)$
